img {
    width: -moz-available;
    width: -webkit-fill-available;
}

/* header {
    width: fit-content;
} */

#gambar-2 {
    background-color: antiquewhite;
}

#tombol-aplikasi {
    background-color: aqua;
    border: dotted black;
}

#price {
    background-color: chartreuse;
}

#price span {
    background-color: aliceblue;
    font-size: 20px;
}